@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: #1e252b;
    overflow-x: hidden;
}

header {
    z-index: 10;
    box-sizing: border-box;
    color: #fff;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #262D34;
}

main {
    color: #fff;
    flex: 1;
}

footer {
    flex-shrink: 0;
    color: #fff;
    background-color: #000;
    padding: 10px;
    position: relative;
    bottom: 1100px;
}

.logo-img {
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.icons {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 80px;
}

.home {
    padding-right: 10px;
}

.calendar {
    padding-right: 10px;
}

.group {
    padding-right: 10px;
}

.podcasts {
    padding-right: 10px;
}

.search {
    display: inline-block;
    position: relative;
    width: 400px;
    left: 50px;
    height: 40px;
    background-color: #2C353D;
    border-radius: 10px;
    bottom: 23px;
    left: 170px;
}

.search-inp {
    width: 340px;
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    left: 10px;
    top: 3px;
}

.search-inp::placeholder {
    font-weight: 400;
    color: #fff;
}

.search-img {
    display: inline-block;
    position: relative;
    left: 20px;
    top: 8px;
}

.login {
    display: inline-block;
    position: relative;
    left: 360px;
    bottom: 5px;
}

.message {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

.notification {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

.avatar-login {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

.login-txt {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    font-weight: 600;
    bottom: 15px;
}

.navigation-down {
    display: inline-block;
    position: relative;
    bottom: 10px;
}

.slide {
    position: relative;
    top: 80px;
    left: 20px;
    width: 220px;
    height: 87vh;
}

.navigation {
    background-color: #262d34;
    border-radius: 15px;
}

.newest {
    height: 50px;
}

.popular {
    height: 50px;
}

.following {
    height: 50px;
}

.navigation-img {
    position: relative;
    left: 10px;
    top: 10px;
}

.heading-txt {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    bottom: 42px;
    left: 47px;
}

.description-txt {
    color: #97989D;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    bottom: 58px;
    left: 47px;
}

.txt-24 {
    color: #fff;
    background-color: #FF6934;
    display: inline;
    padding: 2px;
    border-radius: 5px;
}

.popular-tags {
    background-color: #262D34;
    height: 340px;
    border-radius: 15px;
}

.popular-tags-txt {
    position: relative;
    left: 15px;
    top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.javascript {
    height: 50px;
}

.bitcoin {
    height: 50px;
}

.design {
    height: 50px;
}

.innovation {
    height: 50px;
}

.tutorial {
    height: 50px;
}

.busieness {
    height: 50px;
}

.info-container {
    position: relative;
    width: 63vw;
    height: 92vh;
    bottom: 550px;
    left: 250px;
}

.create-post {
    width: 63vw;
    height: 60px;
    background-color: #262d34;
    margin-bottom: 10px;
    border-radius: 15px;
}

.avatar-img2 {
    position: relative;
    top: 10px;
    left: 20px;
}

.inp-create-post {
    position: relative;
    background: none;
    border: none;
    background-color: #2C353D;
    height: 45px;
    width: 45vw;
    border-radius: 10px;
    bottom: 5px;
    left: 40px;
}

.inp-create-post::placeholder {
    position: relative;
    left: 10px;
    color: #fff;
}

.create-post-btn {
    position: relative;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #FF6934;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 22px;
    left: 55px;
    bottom: 2px;
    width: 150px;
    cursor: pointer;
}

.post-one {
    height: 190px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.post-two {
    height: 190px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.post-three {
    height: 190px;
    background-color: #2C353D;
    border-radius: 15px;
}


.post-img {
    position: relative;
    left: 10px;
    top: 10px;
}

.post-heading {
    position: relative;
    left: 200px;
    bottom: 165px;
    font-size: 22px;
}

.tags {
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 190px;
    left: 200px;
}

.tag1 {
    display: inline-block;
    background-color: #1e252b;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag2 {
    display: inline-block;
    background-color: #1e252b;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag3 {
    display: inline-block;
    background-color: #1e252b;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.love-img {
    position: relative;
    left: 900px;
    bottom: 270px;
}

.love-img-orange {
    position: relative;
    left: 900px;
    bottom: 300px;
}

.people-info {
    height: 70px;
    width: 760px;
    position: relative;
    bottom: 240px;
    left: 200px;
}

.people-info1 {
    height: 70px;
    width: 760px;
    position: relative;
    bottom: 220px;
    left: 200px;
}

.people-info-img {
    position: relative;
    top: 15px;
    margin: 10px;
}

.people-name {
    position: relative;
    bottom: 60px;
    left: 60px;
}

.people-date {
    position: relative;
    bottom: 80px;
    left: 60px;
    color: #97989D;
}

.seo-info {
    color: #97989D;
    width: 400px;
    position: relative;
    bottom: 150px;
    left: 350px;
}

.views {
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
}

.likes {
    display: inline-block;
    margin-right: 40px;
}

.comments {
    display: inline-block;
    margin-right: 20px;
}

.right-bar {
    position: relative;
    bottom: 1223px;
    width: 18vw;
    left: 1230px;
    height: 87vh;
}

.podcasts-main-heading {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    left: 20px;
    bottom: 10px;
}

.podcast-one {
    position: relative;
    height: 80px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.podcast-two {
    position: relative;
    height: 80px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.podcast-three {
    position: relative;
    height: 80px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.podcast-four {
    position: relative;
    height: 80px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.podcast-five {
    position: relative;
    height: 80px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}

.podcast-six {
    position: relative;
    height: 80px;
    background-color: #2C353D;
    border-radius: 15px;
    margin-bottom: 10px;
}



.podcast-img {
    position: relative;
    left: 5px;
    top: 10px;
}

.podcast-heading {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    bottom: 75px;
    left: 72px;
}

.podcast-description {
    color: #97989D;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    bottom: 80px;
    left: 72px;
}

.podcast-vector {
    position: relative;
    bottom: 110px;
    left: 235px;
}